<html>

<head>

	<link rel="stylesheet"type="text/css"href="reg.css">


</head>

<body>

	<center>

<h1>Registration Form</h1>

</center>

<form action="form.html"auto complete="on">

<lable for="fn">firstname</lable>

<input type="text"name="firstname" placeholder="firstname" id="fn" required><br>

<lable for="fulln">lastname</lable>

<input type="text"name="lastname" placeholder="lastname" id="lastn" required><br>


<lable for="ema">email</lable>

<input type="email"name="email" placeholder="email" id="ema" required><br>


<lable for="pass">password</lable>

<input type="password"name="password" placeholder="password" id="pass" required><br>


<lable for="cpass">confrimpassword</lable>

<input type="password"name="confrimpassword" placeholder="confrimpass…
